{% comment %}
*  This loops through the paginated posts
*
*  Total posts: {{ paginator.total_posts }}
*  Total paginate-pages: {{ paginator.total_pages }}
*
{% endcomment %}

<h1>Noticias do SMAE</h1>

<br>
<br>
<hr>


<div class="row">
  <br>
  <div class="small-12 columns b60">
    <h2>Já viu nosso Duvidas e FAQ do SMAE? </h2>
    <br>
    <p>É normal ter dúvidas, por isso elaboramos uma lista com as perguntas mais frequentes sobre o SMAE.</p>
      <a href="https://sepep-pmsp.github.io/site_smae/duvidas-e-faq/" title="{{ site.data.language.read }} {{ post.title | escape_once }}"><strong>Acesse Aqui</strong></a>
    </p>
  </div><!-- /.small-12.columns -->
</div><!-- /.row -->

  <div class="row">
    <br>
    <div class="small-12 columns b60">
      <h2>Você sabia? </h2>
      <br>
      <p>Descubra o SMAE: a ferramenta que revoluciona a gestão de projetos! Conheça mais sobre nós e como estamos simplificando a sua vida. Explore nossa página 'Sobre o SMAE' para uma visão detalhada de quem somos e como podemos fazer a diferença nos seus projetos. Estamos empolgados para compartilhar essa jornada de inovação com você!</p>
        <a href="https://sepep-pmsp.github.io/site_smae/sobre-smae/" title="{{ site.data.language.read }} {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
      </p>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->

  <div class="row">
    <br>
    <div class="small-12 columns b60">
      <h2>Já viu os tutorias do SMAE? </h2>
      <br>
      <p>Apresentamos com entusiasmo os tutoriais em vídeo do SMAE, uma ferramenta incrível que promete simplificar a administração dos seus projetos. Na Secretaria Executiva de Entregas Prioritárias, desenvolvemos uma série de materiais que destacam as diversas funcionalidades do SMAE, proporcionando a você uma experiência envolvente e informativa.</p>
        <a href="https://sepep-pmsp.github.io/site_smae/video-aulas/" title="{{ site.data.language.read }} {{ post.title | escape_once }}"><strong>Acesse Aqui</strong></a>
      </p>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->

  <div class="row">
    <br>
    <div class="small-12 columns b60">
      <h2>Destaques de Treinamentos </h2>
      <br>
      <p>Estamos empolgados em compartilhar as últimas novidades em nossos programas de treinamento dedicados ao SMAE. Preparamos cuidadosamente uma série de recursos educativos para aprimorar suas habilidades de gestão de projetos e aproveitar ao máximo o SMAE.</p>
        <a href="https://sepep-pmsp.github.io/site_smae/tutoriais/" title="{{ site.data.language.read }} {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
      </p>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->



<!--<nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a rel="prev" class="radius button small" href="{{ site.url }}{{ site.baseurl }}/blog/" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous_posts }}</a>
      {% else %}
      <a rel="prev" class="radius button small" href="{{ site.url }}{{ site.baseurl }}/blog/page{{ paginator.previous_page }}/" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous }}</a>
      {% endif %}
    {% endif %}

    <a style="color: #f7c234;" class="radius button small" href="{{ site.url }}{{ site.baseurl }}/blog/archive/" title="{{ site.data.language.blog_archive }}">{{ site.data.language.blog_archive }}</a>

  </nav>-->

