<aside>
	<div class="panel radius">
		<h3 style="text-transform: uppercase; text-align: center;">Novidades</h3>
		<p>
			O que é bom pode ficar ainda melhor e o SMAE está em constante aperfeiçoamento.
		</p>
		<p>Trabalhamos duro para implementar novas funcionalidades, corrigir “bugs” e melhor a experiência do usuário.</p>
		<p>Aqui você fica sabendo de tudo há de novo no SMAE e acompanha em detalhes cada atualização do sistema. </p>
	</div>

	<div class="border-dotted radius b30">
  		<img class="b30" src="../images/tutorials-video.jpg" alt="ADS">
		  <p>Ainda com duvida? Acesse os <a href="https://sepep-pmsp.github.io/site_smae/video-aulas/"></a>Tutoriais</p>
	</div>


	<div class="border-dotted radius b30">
		<img src="../images/propaganda.png" alt="SMAE">
		<p class="text-center">
			Acesse o ambiente <a href="https://smae.prefeitura.sp.fgv.br/login">SMAE!</a>
		</p>
	</div>
</aside>