@charset "utf-8";
/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/



/* Basics
------------------------------------------------------------------- */

$text-color         : #f7c234;
$body-font-color    : $text-color;
$body-bg            : #fdfdfd;
$head-color         : #152741;



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1               : #334D5C; // dark turquoise
$ci-2               : #45B29D; // turquoise
$ci-3               : #EFC94C; // yellow
$ci-4               : #E27A3F; // orange
$ci-5               : #DF4949; // red
$ci-6               : #B8C0CC; // grey



/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color      : $ci-1;
$secondary-color    : $ci-6;
$alert-color        : $ci-5;
$success-color      : $ci-6;
$warning-color      : $ci-4;
$info-color         : $ci-1;





/* Scale Color Variables Orange
------------------------------------------------------------------- */

//Complementary colors

$complementary-orange        : #f7c234;
$complementary-blue          : #3469f7;

//Triadic colors

$cromarico-1                 : #34f7c3;
$cromarico-2                 : #f7c234;
$cromarico-3                 : #c334f7;

//Monochromatic colors

$monocromatico-1              : #f7c234;
$monocromatico-7              : #ffba00;
$monocromatico-2              : #f7e9c2;
$monocromatico-3              : #f7e8bf;
$monocromatico-4              : #f7e8bd;
$monocromatico-5              : #f7e7ba;
$monocromatico-6              : #f7e6b8;

//Hue (adding white)

$hue-orange-1                 :#f7c234;
$hue-orange-2                 :#f8ce5c;
$hue-orange-3                 :#fada85;
$hue-orange-4                 :#fbe6ad;
$hue-orange-5                 :#fdf2d6;
$hue-orange-6                 :#ffffff;

//Shadow (adding black)

$dark-orange-1                : #f7c234;
$dark-orange-2                : #c59b29;
$dark-orange-3                : #94741f;
$dark-orange-4                : #624d14;
$dark-orange-5                : #31260a;
$dark-orange-6                : #000000;

/* Scale Color Variables dark-blue
------------------------------------------------------------------- */

//Complementary colors

$complementary-blue        : #152741;
$complementary-darkorange  : #412f15;

//Triadic colors

$triadic-1                 : #411528;
$triadic-2                 : #152741;
$triadic-3                 : #284115;

//Monochromatic colors

$monochromatic-1             : #152741;
$monochromatic-2             : #333941;
$monohromatic-3              : #333941;
$monohromatic-4              : #323841;
$monohromatic-5              : #313841;
$monohromatic-6              : #313841;
$monochromatic-7             : #2d99f9;

//Hue (adding white)

$hue-blue-1                 :#152741;
$hue-blue-2                 :#435267;
$hue-blue-3                 :#727d8d;
$hue-blue-4                 :#a1a8b3;
$hue-blue-5                 :#d0d3d9;
$hue-blue-6                 :#ffffff;

//Shadow (adding black)

$dark-blue-1                : #152741;
$dark-blue-2                : #101f34;
$dark-blue-3                : #0c1727;
$dark-blue-4                : #080f19;
$dark-blue-5                : #04070c;
$dark-blue-6                : #000000;

/* Grey Scale
------------------------------------------------------------------- */

$grey-1             : #E4E4E4;
$grey-2             : #D7D7D7;
$grey-3             : #CBCBCB;
$grey-4             : #BEBEBE;
$grey-5             : #A4A4A4;
$grey-6             : #979797;
$grey-7             : #8B8B8B;
$grey-8             : #7E7E7E;
$grey-9             : #646464;
$grey-10            : #575757;
$grey-11            : #4B4B4B;
$grey-12            : #3E3E3E;
$grey-13            : #313131;
$grey-14            : #242424;
$grey-15            : #171717;
$grey-16            : #0b0b0b;



/* Topbar-Navigation
------------------------------------------------------------------- */

$topbar-bg-color    : $head-color;
$topbar-bg          : $topbar-bg-color;


$topbar-dropdown-toggle-color: $hue-orange-1;

$topbar-link-color  : $hue-orange-1;
$topbar-link-color-hover: $hue-orange-1;
$topbar-link-color-active: $hue-orange-1;
$topbar-link-color-active-hover: $hue-orange-1;

$topbar-dropdown-label-color: $hue-orange-1;
$topbar-dropdown-link-bg-hover:  $dark-blue-1 ;

$topbar-link-bg-active: #1a304e; // Active Navigation Link
$topbar-link-bg-hover: #244877;
$topbar-link-bg-active-hover: #23426d ;


$topbar-dropdown-bg: $hue-orange-1; // Background Mobile Navigation
$topbar-dropdown-link-color:  $dark-blue-1 ;
$topbar-dropdown-link-bg: $hue-orange-1 ;

$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6 ;
$topbar-menu-link-color: #000;                                       
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6;



/* Footer
------------------------------------------------------------------- */

$footer-bg          : $dark-blue-1;
$footer-color       : $hue-orange-1;
$footer-link-color  : $hue-orange-4;


$subfooter-bg       : $dark-blue-1;
$subfooter-color    : $hue-orange-1;
$subfooter-link-color: $hue-orange-1;



/* Code
------------------------------------------------------------------- */

$code-background-color: scale-color($secondary-color, $lightness: 70%);

$highlight-background: #ffffff;
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086B3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
